<robot
  name="puma 560">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="9.5392E-11 -0.021962 -0.43105"
        rpy="0 0 0" />
      <mass
        value="15.787" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-1.5634E-07 0.022505 -0.0027897"
        rpy="0 0 0" />
      <mass
        value="4.4341" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6"
      upper="6"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.081533 2.2031E-05 0.2154"
        rpy="0 0 0" />
      <mass
        value="16.789" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 -3.7153E-14 5.5511E-17" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6"
      upper="6"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-1.1793E-06 0.088657 1.563E-06"
        rpy="0 0 0" />
      <mass
        value="4.6005" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.4318 -0.02 0.12954"
      rpy="-2.1266E-22 -5.5511E-17 -3.1416" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6"
      upper="6"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="1.1102E-16 0 -0.032409"
        rpy="0 0 0" />
      <mass
        value="0.47079" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.43209 0"
      rpy="-1.5708 5.075E-34 2.0817E-17" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6"
      upper="6"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.00017004 0.010973 2.373E-10"
        rpy="0 0 0" />
      <mass
        value="0.077406" />
      <inertia
        ixx="1E-06"
        ixy="1E-06"
        ixz="1E-06"
        iyy="1E-06"
        iyz="1E-06"
        izz="1E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma 560/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 2.0817E-17 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6"
      upper="6"
      effort="0"
      velocity="0" />
  </joint>
</robot>